body{
    background-color: #EAF6F6;
    
}
hr{
    border-style:  none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: gray;
    width: 5%;
}
h1{
    color: #0b3434;
    /* text-align: center; */
    
}
h3{
    color: #66BFBF ;
    /* text-align: center; */
    
}

